.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__baGcY {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox__baGcY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__baGcY > :global(.__wab_flex-container) > *,
.freeBox__baGcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__baGcY > :global(.__wab_flex-container) > picture > img,
.freeBox__baGcY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__baGcY {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__baGcY > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__baGcY > :global(.__wab_flex-container) > *,
  .freeBox__baGcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__baGcY > :global(.__wab_flex-container) > picture > img,
  .freeBox__baGcY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__hnpAk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__hnpAk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__hnpAk > :global(.__wab_flex-container) > *,
.freeBox__hnpAk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hnpAk > :global(.__wab_flex-container) > picture > img,
.freeBox__hnpAk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__hVxEi {
  position: relative;
  font-weight: 700;
}
.freeBox__t0EwO {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__t0EwO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__t0EwO > :global(.__wab_flex-container) > *,
.freeBox__t0EwO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t0EwO > :global(.__wab_flex-container) > picture > img,
.freeBox__t0EwO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__rhFlQ {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__rhFlQ:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link___1Clc {
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link___1Clc:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__aI8QX {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__aI8QX:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__xFbuU {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__xFbuU:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.freeBox__bs9Wt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__bs9Wt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bs9Wt > :global(.__wab_flex-container) > *,
.freeBox__bs9Wt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bs9Wt > :global(.__wab_flex-container) > picture > img,
.freeBox__bs9Wt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__cdq18 {
  position: relative;
  font-weight: 700;
}
.freeBox__sapnF {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sapnF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sapnF > :global(.__wab_flex-container) > *,
.freeBox__sapnF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sapnF > :global(.__wab_flex-container) > picture > img,
.freeBox__sapnF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__nMblA {
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__nMblA:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__yBejh {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__yBejh:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__bRsOi {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__bRsOi:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__vsRg9 {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 0.5s;
}
.root .link__vsRg9:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__vwdlm {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__vwdlm:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.freeBox___8KgKv {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___8KgKv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___8KgKv > :global(.__wab_flex-container) > *,
.freeBox___8KgKv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8KgKv > :global(.__wab_flex-container) > picture > img,
.freeBox___8KgKv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__h5GyY {
  position: relative;
  font-weight: 700;
}
.freeBox___5NncW {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___5NncW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5NncW > :global(.__wab_flex-container) > *,
.freeBox___5NncW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5NncW > :global(.__wab_flex-container) > picture > img,
.freeBox___5NncW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__mwFiD {
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__mwFiD:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__bhAl6 {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__bhAl6:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__yRlo {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__yRlo:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__vxR2E {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__vxR2E:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.link__emjN9 {
  position: relative;
  color: var(--token-sZVEfINMkayW);
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root .link__emjN9:hover {
  color: var(--token-g3PbTtJrBZAi);
  padding-left: 10px;
}
.freeBox__eUK9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__eUK9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__eUK9 > :global(.__wab_flex-container) > *,
.freeBox__eUK9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eUK9 > :global(.__wab_flex-container) > picture > img,
.freeBox__eUK9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__neym9 {
  position: relative;
  font-weight: 700;
}
.text__uDgWr {
  position: relative;
  font-size: 14px;
  color: var(--token-sZVEfINMkayW);
}
.freeBox___33RfM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 5px;
}
.root .freeBox___33RfM:hover {
  box-shadow: 4px 4px 4px 4px var(--token-sZVEfINMkayW);
}
.textInput {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg__go9Y2 {
  position: relative;
  object-fit: cover;
  color: var(--token-g3PbTtJrBZAi);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__f3C7K {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: var(--token-CmvmRPNgArba);
  padding: 32px 16px;
}
.freeBox__f3C7K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__f3C7K > :global(.__wab_flex-container) > *,
.freeBox__f3C7K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f3C7K > :global(.__wab_flex-container) > picture > img,
.freeBox__f3C7K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__zfNHg {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zfNHg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zfNHg > :global(.__wab_flex-container) > *,
.freeBox__zfNHg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zfNHg > :global(.__wab_flex-container) > picture > img,
.freeBox__zfNHg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__zoZo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jdCh9 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__jdCh9:hover {
  color: var(--token-g3PbTtJrBZAi);
}
.iconLink__ljp0N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__s42L9 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__s42L9:hover {
  color: var(--token-g3PbTtJrBZAi);
}
.iconLink__cvext:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ksBMs {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__ksBMs:hover {
  color: var(--token-g3PbTtJrBZAi);
}
.freeBox__bt6Zr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bt6Zr {
    display: flex;
    flex-direction: column;
  }
}
.text__pRjzt {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__jYv9P {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__jYv9P:hover {
  text-decoration-line: underline;
}
.link__yQJlG {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__yQJlG:hover {
  text-decoration-line: underline;
}
