.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__wxSpn {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox___94Guv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: var(--token-CmvmRPNgArba);
}
.freeBox___94Guv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___94Guv > :global(.__wab_flex-container) > *,
.freeBox___94Guv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___94Guv > :global(.__wab_flex-container) > picture > img,
.freeBox___94Guv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___7Yt8C {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
  height: 740px;
  flex-shrink: 0;
}
.freeBox__bv8Ck {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text__lK7B7 {
  position: relative;
  color: var(--token-muCa3c91FDrm);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__pQmrk:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__pQmrk:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 10px;
  }
}
.productCard__wQvLa:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__g2FfT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings__yYXs:global(.__wab_instance) {
  position: relative;
}
.text___2Pb6U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lcymC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__bBb9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__kw7Oq {
  position: relative;
  color: var(--token-muCa3c91FDrm);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__fzsnz:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__fzsnz:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard__kq3Ba:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__sc0Zr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings__dnLnd:global(.__wab_instance) {
  position: relative;
}
.text__pJkd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__bObvY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__edt1B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__sPeCo {
  position: relative;
  color: var(--token-muCa3c91FDrm);
  font-size: 30px;
  font-weight: 500;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8Bpb7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__wBoNq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__iJqA9 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__iJqA9 > picture > img {
  object-fit: cover;
}
.column__lhapc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__miFr8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__oDq3W {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__oDq3W > picture > img {
  object-fit: cover;
}
.column__ce1C3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__lWo0Y:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__cVsMv {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__cVsMv > picture > img {
  object-fit: cover;
}
.freeBox__mjitB {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-CmvmRPNgArba);
  padding: 48px;
}
.freeBox__mjitB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mjitB > :global(.__wab_flex-container) > *,
.freeBox__mjitB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mjitB > :global(.__wab_flex-container) > picture > img,
.freeBox__mjitB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__cqLUm {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__cqLUm > picture > img {
  object-fit: cover;
}
.img__h40Ru {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__h40Ru > picture > img {
  object-fit: cover;
}
.img__xWxlt {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__xWxlt > picture > img {
  object-fit: cover;
}
.img__tk0FK {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__tk0FK > picture > img {
  object-fit: cover;
}
.img__v38HX {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__v38HX > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
